04-Pneumonia-Classification/Processed/
04-Pneumonia-Classification/logs/
04-Pneumonia-Classification/weights/
04-Pneumonia-Classification/rsna-pneumonia-detection-challenge
04-Pneumonia-Classification/rsna-pneumonia-detection-challenge.zip
05-Cardiac-Detection/logs
05-Cardiac-Detection/Processed-Heart-Detection
05-Cardiac-Detection/.idea
05-Cardiac-Detection/weight.ckpt
05-Cardiac-Detection/__pycache__

